/* style sheet for ifactoredahuman.html to reference */ 

body { 
	background-color: #E6FFFF;
}

/* adding padding for head and body */
head {
	padding: 200px;
}
body {
	padding-right: 300px; 
	padding-left: 300px;
	padding-top: 100px
	padding-bottom: 200px ; 
}

/* editing the color of text and the background-color of the text, font, and allignment */ 
#title {
	color: #2F4F4F ;
	font-family: "Courier New", Courier, monospace; 
	font-size: 24px ;
}
#subtitle {
	color: #2F4F4F ; 
	font-size: 18px ; 
}

#body {
	color: #000000 ; 
	background-color: #000000 ;
	max-width: 425px ; 
	font-family: "Courier New", Courier, monospace ; 
}