/* style sheet for ifactoredahuman.html to reference */ 

body { 
	background-color: #E6FFFF;
}

/* adding padding for head and body */
head {
	padding: 200px;
}
body {
	padding-right: 300px; 
	padding-left: 300px;
	padding-top: 100px
	padding-bottom: 200px ; 
}

/* editing the color of text and the background-color of the text, font, and allignment */ 
#title {
	color: #2F4F4F ;
	font-family: "Courier New", Courier, monospace; 
	font-size: 24px ;
}
#subtitle {
	color: #2F4F4F ; 
	font-size: 18px ; 
}

#body {
	color: #000000 ; 
	background-color: #000000 ;
	max-width: 425px ; 
	font-family: "Courier New", Courier, monospace ; 
}

#introduction {
		font-size: 18px ; 
}

#hello {
	color: #000000 ;
	background-color: #66CC33 ;
	max-width: 425px ;
	text-align: left ;
	position: relative ; 
	left: 500px ;
	font-size: 18px ; 
}

#whaaat{ 
	color: #FFFFFF ;
	background-color: #6B1F73 ;
	max-width: 425px ;
	text-align: right ;
	position: relative ; 
	left: 200px ;
	font-size: 18px ; 
}

#explain {
	color: #000000 ;
	background-color: #66CC33 ;
	max-width: 425px ;
	text-align: left ;
	position: relative ; 
	left: 500px ;
	font-size: 18px ; 
}

#introContinue {
		font-size: 18px ; 
}

#siteNav {
		font-size: 18px ; 
}

#factoring{ 
	font-size: 25px ; 
	color: #006699 ;
}

.meow{
	text-align: center ;
}

.button{
	position: absolute ;
}
